
.formAreaParent {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Maven Pro";
}

.formAreaChild {
  flex: 1;                /* Each child will take equal space */
  display: flex;          /* Center content horizontally and vertically */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formAreaChild label {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Playwrite HU";
}

.selectAreas {
  min-width: 30%;
  height: 40px;
  font-size: 20px;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
  /*box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);small shade*/
}